@use "src/styles/_colors";


.button {
  color: colors.$secondary-color;
  font-weight: bold;
  padding: 0.5rem;
  background-color: rgba(colors.$primary-color, 0.1);
  border: 2px solid rgba(colors.$primary-color, 1);
  display: block;
  transition: 0.1s;
  cursor: pointer;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}
