@use "src/styles/_colors";

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
  }
}

.select,
.count {
  line-height: 2rem;
  border: 2px solid colors.$primary-color;
}

.select {
  flex-grow: 1;
  max-width: 75%;
  cursor: pointer;

}

.count {
  max-width: 3rem;
  text-align: center;
  margin-left: 1rem;
}

.fieldset {
  display: flex;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
  flex-grow: 1;
  padding: 0 0 1rem;

  @media (min-width: 768px) {
    padding-bottom: 0;
    padding-right: 1rem;
    justify-content: flex-start;
  }
}