@use "src/styles/_colors";

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  font-size: 2rem;
  color: white;
  background-color: colors.$secondary-color;
  padding: 2rem;
}

.content {
  overflow-y: auto;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 1rem;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.primary {
  color: colors.$primary-color;
}
